img{
    max-width:100%;
}
.main-content{
    margin-top:40px
}
.secondary-content{
    color: yellow;
}
nav ul li.active  a{
    background-color: yellow;
}
nav ul li.active a{
    color: black;
    font-weight: bold;
}
.profile-details label{
    color: black;
    font-weight: bold;
}
.profile-role, profile-team, label{
    display: block;
}

.side-nav-show{
    transform: translate(0);
    transition: all 1s ease-in-out;
}
.side-nav-hide{
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
}