img{
    max-width:100%;
}
.main-content{
    margin-top:40px
}
.secondary-content{
    color: yellow;
}
nav ul li.active  a{
    background-color: yellow;
}
nav ul li.active a{
    color: black;
    font-weight: bold;
}
.profile-details label{
    color: black;
    font-weight: bold;
}
.profile-role, profile-team, label{
    display: block;
}